<div class="contact-info-column">
    {% if contact.email %}<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>{% endif %}
    {% if contact.email %} <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>{% endif %}
    {% if contact.email %} <a href="mailto:{{ contact.email }}"> {{ contact.email }}</a>{% endif %}
    {% if contact.email %}
        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    {% endif %}
</div>
<span class="contact-info-column">
    {% if contact.email %}<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>{% endif %}
    {% if contact.email %} <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>{% endif %}
    {% if contact.email %} <a href="mailto:{{ contact.email }}"> {{ contact.email }}</a>{% endif %}
    {% if contact.email %}
        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    {% endif %}
</span>