name: CI

on:
  push:
    branches:
      - main
    tags-ignore:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo clippy --all-targets --all-features
      - run: cargo test --all-features
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features
